# Linux环境依赖项
# 从requirements.txt复制，但排除Windows特定的库如pywin32

streamlit
pandas
numpy
qianfan
requests
Pillow
python-dotenv
opencv-python
pyzbar
pdf2image
PyMuPDF
playwright
pytest-playwright
pytest-xdist
pytest-asyncio
pytest-timeout
pytest-rerunfailures
pytest-random-order
pytest-repeat
pytest-cov
qwen-agent
openai
docker
langchain
bs4
dashscope
tiktoken
playwright
